[include]
    path = .gitconfig.aliases
[core]
    autocrlf = input
    safecrlf = false
[mergetool]
    keepbackup = false
[fetch]
    prune = true
[log]
    decorate = short
    abbrevcommit = true
    date = relative
[push]
    default = simple
[rerere]
    enabled = true
[pull]
    rebase = true
[rebase]
    autoStash = true
[core]
    fscache = true
    longpaths = true
    editor = code --wait
    autocrlf = false
    sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
[format]
    pretty = %C(yellow)%h %C(magenta)%<(15,trunc)%an %C(cyan)%<(12,trunc)%cd %C(auto)%d%Creset %s
[user]
    name = Klas Mellbourn
    email = klas@mellbourn.net
[merge]
    tool = kdiff3
[diff]
    guitool = kdiff3
[mergetool "kdiff3"]
    path = C:/Program Files/KDiff3/kdiff3.exe
[difftool "kdiff3"]
    path = C:/Program Files/KDiff3/kdiff3.exe
[safe]
    directory = C:/Users/Klas/code
    directory = C:/Users/Klas/OneDrive/Dokument/PowerShell
    directory = C:/Users/Klas/AppData/Local/Packages/Microsoft.WindowsTerminal_8wekyb3d8bbwe/LocalState
